{% extends "master.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}
    Restricted Area - Bikes
{% endblock %}

{% block subtitle %}
    List of all bikes
{% endblock %}

{% block top_content %}
    <h1 class="title">Bikes</h1>
    <h2 class="subtitle">
        This is a restricted area listing all bikes - <span class="has-text-danger">Login required</span>
    </h2>
{% endblock %}

{% block content %}

    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
        <tr>
            <th>bike id</th>
            <th>device id</th>
            <th>customer</th>
            <th>status</th>
            <th>updated at</th>
        </tr>
        </thead>
        <tbody id="tableBody">

        {% for val in data %}
            <tr>
                {% for item in val %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}

        </tbody>
    </table>


{% endblock %}

{% block pagination %}
    <a class="pagination-previous" href="{{ url_for('restricted_customers') }}">Back to customers</a>
    <a class="pagination-next" disabled>None</a>
{% endblock %}
