{% extends "master.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}
    About Us
{% endblock %}

{% block subtitle %}
    a few words about us
{% endblock %}

{% block top_content %}
    <h1 class="title">About us</h1>
    <h2 class="subtitle">
        it all began a few weeks ago...
    </h2>
{% endblock %}

{% block content %}

    <h3>Who we are</h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi at nibh vitae ante vestibulum egestas id vitae erat. Nam sit amet lacus quis risus scelerisque commodo. Nunc suscipit interdum libero et congue. Aliquam vehicula, ante nec luctus rhoncus, dolor nisl tristique nibh, sit amet pharetra velit sem a eros.
    <h3>What we do</h3>
    Proin aliquam velit rhoncus velit lobortis, a porta erat aliquet. Donec finibus nibh metus, ac tempor purus facilisis sit amet. Fusce semper hendrerit justo, et pellentesque dolor vulputate quis.

{% endblock %}
