{% extends "master.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}
    Contact Us
{% endblock %}

{% block subtitle %}

{% endblock %}

{% block top_content %}
    <h1 class="title">Contact form</h1>
    <h2 class="subtitle">
        Feel free to leave us a message and we'll get back to you as soon as possible
    </h2>
{% endblock %}

{% block content %}

    <form action="" method="post" id="form" onsubmit="submitForm(event, this)">
        <div class="field">
            <input class="input is-large is-rounded" type="text" name="subject" placeholder="subject"
                   onkeyup="clear_notification(this.value)">
        </div>
        <div class="field">
            <input class="input is-large is-rounded" type="email" name="your email" placeholder="your email">
        </div>
        <div class="field">
            <textarea class="textarea is-large has-fixed-size" name="message" placeholder="your message"></textarea>
        </div>
        <div class="field">
            <button class="button is-rounded is-large" type="submit">Send!</button>
        </div>
    </form>

    <br>

    <div id="responseText" class=""></div>

    <script>
        function clear_notification(val) {
            console.log("onchange called!");
            let resArea = document.getElementById("responseText");
            resArea.className = "";
            resArea.innerHTML = "";
        }

        function submitForm(e, form) {
            e.preventDefault();

            const url = "{{ url_for('contact') }}";
            fetch(url, {
                method: "POST",
                body: new FormData(document.getElementById("form")),
            }).then(
                response => response.text()
            ).then(
                html => {
                    console.log(html)
                    let resArea = document.getElementById("responseText");
                    resArea.className += " notification is-warning";
                    resArea.innerHTML = html;
                });
        }
    </script>
{% endblock %}
