<!doctype html>
<html lang="en">
<head>
    {% block head %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} - Bike Rental</title>
    <meta name="description" content="Weird template">
    <meta name="author" content="weirdloop">

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>

    <script defer src="/static/js/fontawesome-all.js"></script>
    <link rel="stylesheet" href="/static/css/bulma.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% endblock %}
</head>

<body class="">
<section class="hero is-dark">

    {% include 'parts/navigation.html' %}

    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                {{ title }}
            </h1>
            <h2 class="subtitle">
                {% block subtitle %}
                this is the subtitle
                {% endblock %}
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">

        {% block top_content %}{% endblock %}

        <div class="content">
            {% block content %}{% endblock %}
        </div>

        <nav class="pagination is-large" role="navigation" aria-label="pagination">
            {% block pagination %}{% endblock %}
        </nav>

    </div>

</section>

{% include 'parts/footer.html' %}

</body>
</html>
