{% extends "master.html" %}

{% block head %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

    <script>
        $(document).ready(function () {
            $("#submitBtn").click(function () {
                let item = $("#todoItem").val();
                $("#todoList").append("<li>" + item + "</li>");
                $("#todoItem").val("");
            });
        });
    </script>
{% endblock %}

{% block title %}
    Testing your data
{% endblock %}

{% block subtitle %}
    just because it has to happen I guess...
{% endblock %}

{% block top_content %}
    <h1 class="title">Testing data to make $$!</h1>
    <h2 class="subtitle">
        So we got your data, now we're also checking you didn't fake it!
    </h2>
{% endblock %}

{% block content %}
    <h3>First a ToDo list, so we forget nothing!</h3>
    <ul id="todoList">
        <li>Get some milk</li>
        <li>Finish the final project</li>
        <li>Jump around</li>
        <li>World domination</li>
        <li>Be lazy</li>
        <li>Fully reverse engineer the ESP32</li>
    </ul>

    <div class="field has-addons">
        <div class="control">
            <input id="todoItem" class="input" type="text" placeholder="enter a new item">
        </div>
        <div class="control">
            <a id="submitBtn" class="button is-info">
                Add
            </a>
        </div>
    </div>

    <br>

{% endblock %}

{% block pagination %}
    <a class="pagination-previous" disabled>None</a>
    <a class="pagination-next" href="{{ url_for('restricted_customers') }}">Customers</a>
{% endblock %}
